/* BASIC STYLES HERE */

.press-start {
    font-family: 'Press Start 2P',
        cursive;
}

.VT {
    font-family: 'VT323',
        monospace;
}

.hoverable {
    cursor: pointer;
}

main {
    /* background-image: url("https://images.unsplash.com/photo-1547961547-321889bff29e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80");
    back */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* SECTION weather component styles */
.weather-box {
    border-width: 5px;
    border-style: outset;
    border-color: #ff97ca;
    background-color: #f9d5e7;
    box-shadow: 3px 3px #504e4f70
}


/* #ff97ca */
/* #fc9bcb */

.weather-header {
    background-color: #c2bce4;
    margin: 4px;
    padding: 2px;
    border: pink;
    border-style: outset;
}


.weather-body {
    border-style: outset;
    border-color: pink;
    border-width: 3px;
    margin: 4px;
    background-color: lavenderblush;
    font-size: small;
    color: #9a84bf;
}

/* #9a84bf */
/* #7f62b0 */

.fs-temp {
    /* font-size: 2em; */
}


/* SECTION vibe player */

.media-player {
    border-width: 5px;
    border-style: outset;
    border-color: #ff97ca;
    background-color: #f9d5e7;
    box-shadow: 3px 3px #504e4f70
}

#volume-control {
    margin: 4px;
    background-color: #c2bce4;
    color: white;
    border: pink;
    border-style: outset;
}

#activeVibe {
    border-style: outset;
    border-color: pink;
    border-width: 3px;
    margin: 4px;
    background-color: lavenderblush;
    font-size: small;
    color: #9a84bf;
}

/* SECTION todo component styles */
.todo-col {
    position: absolute;
    bottom: 4rem;
}

.todo-display {
    border-width: 5px;
    border-style: outset;
    border-color: #ff97ca;
    background-color: #f9d5e7;
    box-shadow: 3px 3px #504e4f70;
    width: 20vw;
    min-height: 20vh;
    margin-left: auto;
}

.todo-inner-display {
    border-style: outset;
    border-color: pink;
    border-width: 3px;
    margin: 4px;
    padding: 5px;
    background-color: lavenderblush;
    font-size: small;
    color: #9a84bf;
    min-height: 18vh;

}

#todo-list {
    max-height: 40vh;
    overflow-y: scroll;
}


.todo-button {
    background-color: #f9d6e7;
    padding: 2px;
    border: #ef8dc0;
    border-style: outset;
    margin-top: 2em;
    width: 10rem;
    color: #ef8dc0;
}

#todo-count {
    background-color: #c2bce4;
    margin: 4px;
    padding: 2px;
    border: pink;
    border-style: outset;
    color: white;
}

.todo-form {
    position: relative;
    bottom: 0;
}

.todo-input {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #ef8dc0;
    width: 100%;
    color: #ef8dc0;
}

.todo-input:focus {
    background-color: transparent;
    outline: none;
    border-bottom: 3px solid #ef8dc0;
}

.todo-toggle {
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bolder;
}

.todo-item {
    background-color: #f9d6e7;
    border: #ef8dc0;
    border-style: outset;
    color: #ef8dc0;
}



/* SECTION Vibes Carousel  */
html {
    overflow-x: hidden;
}

.slider {
    width: 100%;
    text-align: center;
    overflow: hidden;
    border-width: 5px;
    border-style: outset;
    border-color: #ff97ca;
    background-color: #f9d5e7;
    box-shadow: 3px 3px #504e4f70;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

/* .slide-button {
    background-color: green;
} */

.slides {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.slides::-webkit-scrollbar-thumb {
    background: #e04a83;
    border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
    background: transparent;
}

.slides>button {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 300px;
    height: 50px;
    margin-right: 50px;
    font-size: small;

    border-style: outset;
    border-color: pink;
    border-width: 3px;
    background-color: lavenderblush;
    color: #9a84bf;

    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.slider>a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin: 0 0 0.5rem 0;
    position: relative;
}

.slider>a:active {
    top: 1px;
}

.slider>a:focus {
    background: #000;
}

/* Don't need button navigation */
@supports(scroll-snap-type: none) {
    .slider>a {
        display: none;
    }
}


.clock-style {
    font-size: 140px;
    /* font-weight: bolder; */
    color: #eee;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.63);
    border-bottom: 5px solid #eee;
}