/* BASIC STYLES HERE */

.todo-col {
    position: absolute;
    bottom: 4rem;
}

.todo-display {
    background-color: rgb(0 0 0 / 58%);
    border: 1px solid rgb(67 67 67 / 62%);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    width: 20vw;
    min-height: 20vh;
    color: whitesmoke;
    margin-left: auto;
}

.todo-button {
    width: 7rem;
    border-radius: 15px;
    background-color: rgba(175, 153, 201, 0.561);
    color: white;
    border: none;
}

.todo-form {
    position: fixed;
    bottom: 1em;
    width: 96%;
}

.todo-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(121, 119, 119);
    width: 100%;
    color: white;
}

.todo-input:focus {
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid white;
}

.todo-toggle {
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bolder;
}


/* SECTION Vibes Carousel  */
/* * {
    box-sizing: border-box;
} */

html{
    overflow-x: hidden;
}

.slider {
    width: 450px;
    text-align: center;
    overflow: hidden;
}

.slides {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
    background: transparent;
}
.slides > button {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 300px;
    height: 100px;
    margin-right: 50px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin: 0 0 0.5rem 0;
    position: relative;
}
.slider > a:active {
    top: 1px;
}
.slider > a:focus {
    background: #000;
}

/* Don't need button navigation */
@supports(scroll-snap-type: none){
    .slider > a{
        display: none;
    }
}